body{
  background-color: rgb(6, 37, 6);
  color: rgb(223, 223, 223);
  font-size: 1.1rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
 
}
h2 {
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(236, 149, 35);
  text-align: center;
}
h3 {
  font-size: 1.7em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: salmon;
}
nav {
  background-color: salmon;
}

#navLogo {
  width: 150px;
  margin: 14px;
  display: inline-block;
}

nav ul{
  float: right;
  margin-top: 7px;
  
}

nav li {
  display: inline;
  position: relative;
  text-decoration: none;
  float: right;
  margin: 21px;
  margin-right: 28px;
}

nav li::after{
  clear: both;
}

li:hover {
  cursor: pointer;
  color: white;
}

main {
  width: 960px;
  /* height: 100vh; */
  margin: auto;
}

#familySection{
  position: relative;
  width: 960px;
  margin: 40px auto;

}          

#aboutFamily {
  margin: 40px;
  margin-top: 85px;
}


#patsFamily {
  width: 450px;
  margin-right: 14px;
  
  display: inline;
  float: left;
}

#aboutFamily {
  display: inline;
  float: right;
}

#actionOutter {
  background-color: rgb(177, 115, 0);  
}

.actionImages {
  height: 30%;
  width: 50%;
  border-radius: 50%;
  border: 1px solid darkgrey;
}

#actionRow {
  width: 960px;
  margin: auto;
}

.actionContainer {
  width: 20%;
  float: left;
  padding: 5px;
  margin: 45px;
}

.actionText {
  text-align: center;
}

#actionRow::after {
  content: "";
  clear: both;
  display: table;
}
#locationsContainer{
  width: 960px;
  margin-left: 14%;
  margin-top: 14px;
  margin-bottom: 14px;
}

#locationsSection{
  margin: 30px;
}

#locationsContainer h3{
   margin-top: 14px;
   margin-left: 30%;
}

.locations{
  display: inline-block;
  margin: 14px;
  
}

footer {
  background-color: salmon;
  padding: 40px 325px;
  text-align: center;
}

.footerLinks li {
  display: inline;
  text-decoration: none;
  margin: 7px;
}

.footerLogo {
  width: 150px;
  margin: 14px;
}

footer p {
  margin-top: 14px;
}